h2 {
        padding: 245px;
        font-size: 50px;
        border: 1px solid #303136;
        background-color: #303136;
        margin: 0;
        border-collapse: collapse;
        animation: intro1 2s;
        background-image: url('unknown.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    #title1 {
        color: #4169e1;
    }

    h2 {
        color: white;
    }
    #title_desc1,#title_desc2 {
        font-size: 20px;
    }
     body{
        background-color: #303136; 
        margin: 0;
    } 
    h3{
        padding: 245px;
        border: 1px solid white;
        background-color: white;
        color: black;
        margin: 0;
        font-size: 50px;
        border-collapse: collapse;            
    }
    /* @keyframes intro1{
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }
    @keyframes intro2{
        from{
            opacity: 0;
        }to{
            font-size: 20px;
        }
    }
    @keyframes intro3{
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    } */
    #title_desc2,#title_h3,#img_1{
        animation-fill-mode: forwards;
    }
    #invite_btn{
        padding: 15px;
        background-color: #4169e1;
        color: white;
        border-radius: 5px;
        border: 1px solid #4169e1;
    }
    #invite_btn:hover{
        transform: translateY(2px);
    }
    #title_desc2,#title_h3{
        display: inline;   
    }
    #menu{
        width: 20px;
        height: 20px;
    }
    ol{
        color: white;
        border-right: 1px solid white;
        width: 120px;
        margin: none;
        display: none;
        margin: 0;
    }
    #option_1{
        font-size: 15px;
        text-decoration: none;
        color: white;
        transform: translateY(2px);
    }
    #icon{
        height: 33px;
        padding-left: 50px;
    }
    #title_1{
        text-decoration: none;
        color: white;
    }
    #server_btn{
        padding: 15px;
        background-color: #4169e1;
        color: white;
        border-radius: 5px;
        border: 1px solid #4169e1;
    }
    #invite_btn2{
        padding: 15px;
        background-color: #4169e1;
        color: white;
        border-radius: 5px;
        border: 1px solid #4169e1;
    }
    #server_btn:hover,#invite_btn2:hover{
        transform: translateY(2px);
    }
    h4{
        text-align: center;
        color: gainsboro;
    }
    #desc2{
        text-align: center;
        color: gainsboro;
    }
    .nav-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: white;
        list-style-type: none;
        position: fixed;
        top: 0;
    }
    .nav-item {
        padding: 15px;
        cursor : pointer;
        line-height: 20px;
    }
    .nav-item-now {
        padding: 15px;
        cursor : pointer;
        line-height: 20px;
    }
    .nav-item-now a {
        text-align: center;
        text-decoration: none;
        color: black;
    }
    .nav-item a {
        text-align: center;
        text-decoration: none;
        color: #b0b0c2;
    }
    .nav-item1 {
        padding: 15px;
        cursor : pointer;
        line-height: 20px;
    }
    .nav-item:hover {
        background-color: gray;
    }  
    .nav-item-now:hover {
        background-color: gray;
    }
    @media (max-width:926px) {
        h3{
            padding: 0;
            text-align: center;
            animation: none;
            padding-top: 35px;
            padding-bottom: 35px;
        }
        #title_desc2,#title_h3,#img_1{
            animation: none;
            opacity: 1;
        }
        h2{
            padding: 0;
            padding-top: 35px;
            padding-bottom: 35px;
            text-align: center;
            opacity: 1;
        }
    }
